n8n Gmail Auto Draft Reply.json
{
  "name": "Gmail AI Draft Reply",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "event": "=messageReceived",
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -160
      ],
      "id": "db2b6052-b9fb-436c-a331-3f5660a3f565",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "b23NNoKEvHs7AX0m",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an email responding agent.\nBelow is the content of the latest email I got.\n\nSubject:  {{ $json.Subject }}\nBody: {{ $json.snippet }}\n\nYou have to do two things.\n1) Specify the label based on the email.\nUse the tool to get all the labels and their Id and mention both of them properly.\nLabel can be from one of the: Doubts, Sponsorship, Courses.\n\n2) As a smart assistant please draft the response for me so that I can reply to my email with appropriate/related subject and body.\n\n\nMake sure that reply is very respectable and wherever required please explain doubt in depth with example and also make sure that reply follows a strict HTML format, so it is easy to read.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        512,
        -160
      ],
      "id": "dd775761-d7b4-4609-974c-07020f990cd7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        336,
        80
      ],
      "id": "18ff27b2-e494-46b5-b38a-f21691fc85c1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "6j8Oie0zH2ABwxow",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"label\": \"Doubt\",\n  \"label_id\": \"123456\",\n  \"subject\": \"Doubt_answer\",\n  \"body\": \"Hey! Thanks for reaching out\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        704,
        64
      ],
      "id": "c5bdd24c-9025-4050-a616-258f7229a773",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "labelIds": "={{ $json.output.label_id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        912,
        -160
      ],
      "id": "875e5d17-9b4c-4e80-9286-5426c6391dbb",
      "name": "Add label to message",
      "webhookId": "b856b7d3-aa15-4b8c-bda7-d9d7e1647cc5",
      "credentials": {
        "gmailOAuth2": {
          "id": "b23NNoKEvHs7AX0m",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        528,
        80
      ],
      "id": "3d6ec679-e20c-4fe3-a374-678ebd576290",
      "name": "Get many labels in Gmail",
      "webhookId": "0a3b067d-f1f3-44f7-8a7a-103b3a8a8811",
      "credentials": {
        "gmailOAuth2": {
          "id": "b23NNoKEvHs7AX0m",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        224,
        -160
      ],
      "id": "c0386e94-425e-4b36-9441-f210b60c9e49",
      "name": "Get a message",
      "webhookId": "c3edd2d8-f298-49e2-9009-45dde166fe9d",
      "credentials": {
        "gmailOAuth2": {
          "id": "b23NNoKEvHs7AX0m",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('AI Agent').item.json.output.subject }}",
        "emailType": "html",
        "message": "={{ $('AI Agent').item.json.output.body }}",
        "options": {
          "threadId": "={{ $('Get a message').item.json.threadId }}",
          "sendTo": "={{ $('Get a message').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1136,
        -160
      ],
      "id": "827f3653-9433-4f61-8644-1713111124ae",
      "name": "Create a draft",
      "webhookId": "58f3f5c1-16f2-4c96-89bf-92fe00029dbc",
      "credentials": {
        "gmailOAuth2": {
          "id": "b23NNoKEvHs7AX0m",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many labels in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6001cf21-add2-4c20-84e1-66f3687d9b87",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "29e9afc3379db53e5b2d944c24f45183d3017b1a6b04dec353c78f9dc84e4611"
  },
  "id": "ZTrCLVbEdSbP5JD2",
  "tags": []
}